.case__hero-container {
  /* height: 430px; */
  background: #fdf0f2;
}

.case__hero {
  margin-top: 80px;
  margin-bottom: 195px;
}

.case__hero h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 57.33px;
  line-height: 76px;
  color: #333333;
}
.case__hero > p {
  font-weight: normal;
  font-size: 23.04px;
  line-height: 32px;
  color: #333333;
}
.case__problem {
  margin-top: 80px;
}

.case__problem .row {
  align-items: center;
}

/* SUBPOINT */

.subpoint__heading {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 39.81px;
  line-height: 53px;
  color: #333333;
  margin-bottom: 41px;
}

.subpoint__text {
  font-weight: normal;
  font-size: 19.2px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 23px;
}

.research {
  margin-top: 130px;
}

.research__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.011em;
  text-align: center;
  color: #333333;
}
.research__source {
  font-weight: 500;
  font-size: 16px;
  display: block;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.011em;
  color: #333333;
  opacity: 0.75;
}

.case__topic {
  margin-bottom: 102px;
  padding-top: 107px;
}
.topic__color {
  background: #b9b9b9;
}

.subpoint__img {
  margin-top: 79px;
  text-align: center;
}
.subpoint-container {
  margin-top: 101px;
}

.list {
  font-weight: 500;
}

.alignfull {
  margin-left: calc(50% - 49.4vw);
  margin-right: calc(50% - 49.4vw);
  max-width: 800%;
  width: auto;
  padding-top: 90px;
  padding-bottom: 90px;
}
.prototype__text {
  margin-top: 30px;
  margin-bottom: 101px;
  font-weight: 600;
  font-size: 19.2px;
  margin-left: 100px;
  line-height: 32px;
  color: #333333;
}

.test::before{
  content: url('./fingerPoint.png');
  position: absolute;
  /* left: 150px; */
  bottom: 50px;
}
