:root {
  /* footer bg */
  --fbg: #333333;
  /* footer h3 (lets connect)  */
  --fh3: #ffffff;
  /* footer para */
  --fp: #ffffff;
  /* footer email */
  --femail: #ffffff;
  /* footer logo circle bg */
  --fcbg: #ffffff;
  /*  footer logo circle text */
  --fctext: black;
  /* footer copyright text */
  --fct: #ffffff;
}

.footer-container {
  max-width: 100%;
  background: var(--fbg);
}

.footer-container .footer__content {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footer__content__top__text h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 19.2px;
  line-height: 24px;
  color: var(--fh3);
}

.footer__content__top {
  display: flex;
  margin-top: 40px;
  align-items: center;
}

.footer__content__top__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__content__top__text p {
  font-style: normal;
  font-weight: normal;
  font-size: 19.2px;
  text-align: center;
  line-height: 24px;
  margin-bottom: 0;
  color: var(--fp);
}

.footer__content .email {
  text-align: center;
  margin-top: 29px;
  font-style: normal;
  font-weight: 600;
  font-size: 19.2px;
  line-height: 24px;
  color: var(--femail);
}

.footer__content__top img {
  align-self: flex-start;
}

.footer__content > p {
  font-style: normal;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 11.11px;
  line-height: 24px;
  color: var(--fct);
}

.footer-container .icons {
  margin-bottom: 75px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.footer__content__link a{
  font-weight: 500;
  font-size: 11.11px;
  line-height: 24px;
}

.icons .circle {
  margin-top: 13px;
  height: 40px;
  width: 40px;
  background-color: var(--fcbg);
  border-radius: 50%;
  color: var(--fctext);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons .circle svg {
  font-size: x-large;
}

.footer__content__top__text p span {
  font-family: sans-serif;
}

@media screen and (max-width: 576px) {
  .footer-container {
    margin-top: 50px;
  }
}
