.home-container {
  margin-bottom: 100px;
}
/* HERO */

.hero-container {
  margin-top: 197px;
}
.hero-container h1 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 99.07px;
  line-height: 132px;
  color: #333333;
}
.hero__highlight {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 23.04px;
  line-height: 40px;
  color: #fc004d;
}
.hero__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 23.04px;
  line-height: 40px;
  color: #000000;
}
.hero-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 23.04px;
  line-height: 40px;
  color: #000000;
}
.hero__description {
  margin-bottom: 232px;
}

.heading p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0;
}

.dash {
  border-bottom: 2px solid #fc004d;
  align-self: center;
  width: 68px;
  margin-left: 16px;
}

.dash.black {
  border-bottom: 2px solid #fc004d;
}

/* PORTFOLIO */

.portfolio-container {
  padding-top: 218px;
  padding-bottom: 218px;
}

.portfolio__row {
  align-items: flex-end;
}

.project__img {
  width: 100%;
}

.project__name {
  font-style: normal;
  font-weight: bold;
  font-size: 39.81px;
  line-height: 49px;
}

.project__desc {
  margin-top: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 19.2px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.68);
  margin-bottom: 50px;
}

.project__link {
  font-style: normal;
  font-weight: 600;
  font-size: 19.2px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.68);
  transition: all 0.2s;
}
.project__link:hover {
  transform: scale(1.05);
}

/* Other Work */

.work-container {
  padding-top: 150px;
  padding-bottom: 150px;
}

.work-container .row.reverse {
  flex-direction: row-reverse;
}

/* media  queries */

@media screen and (max-width: 576px) {
  .hero-container h1 {
    font-size: 57.33px;
    line-height: 64px;
  }
  .hero-container {
    margin-top: 197px;
  }

  .hero__description {
    margin-bottom: 100px;
  }
  .portfolio-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .hero-container {
    margin-top: 100px;
  }

  .work-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  /* resize image for phone */
  /* .project__img {
    width: 280px;
  } */
}



@media screen and (max-width: 1200px) {
  .hero-container h1 {
    font-size: 75px;
  }
}

@media screen and (max-width: 770px) {
  .hero-container h1 {
    font-size: 57.33px;
    line-height: 64px;
  }
} 