/* HERO */
.hero-container {
  margin-top: 197px;
}
.hero-container h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 99.07px;
  line-height: 132px;
  color: #333333;
}

.hero-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 23.04px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 232px;
}

.heading p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0;
}

.dash {
  border-bottom: 2px solid #ff0027;
  align-self: center;
  width: 68px;
  margin-left: 16px;
}

/* PORTFOLIO */

.portfolio-container {
  padding-top: 218px;
  padding-bottom: 218px;
}

.project__img {
  border-radius: 8px;
  transition: all 0.65s;
  animation-delay: 0.25s !important;
}

.portfolio__img:hover,
.work__img:hover {
  transform: scale(1.05);
}

.project_name {
  font-style: normal;
  font-weight: bold;
  font-size: 39.81px;
  line-height: 49px;
}

.project__desc {
  margin-top: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 19.2px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.68);
  margin-bottom: 100px;
}

.project__link {
  font-style: normal;
  font-weight: 600;
  font-size: 19.2px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.68);
  transition: all 0.2s;
}
.project__link:hover {
  transform: scale(1.05);
}

/* Other Work */

.work-container {
  padding-top: 150px;
  padding-bottom: 150px;
}

.work-container .row.reverse {
  flex-direction: row-reverse;
}

/* media  queries */

@media screen and (max-width: 576px) {
  .hero-container h1 {
    font-size: 57.33px;
    line-height: 64px;
  }
  .hero-container {
    margin-top: 197px;
  }

/* resize image for phone */
  .project__img {
    width: 280px;
  }
}
